* { margin: 0; padding: 0; outline:0; }


footer{
    width: 100%;
    height:30px;
    position:absolute;
    bottom:0px;
    left:0px;
    background: #333;
}


html,body {
    height:100%;
    font-size: 15px;
    line-height: 22px;
    font-family: "Times New Roman", Times, serif;
    color: #4a4a4a;
}



a { color: #0252aa; text-decoration: none; cursor:pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }


.left {   
  float: left;   
  margin-right: 10px;   
  width: 100px;   
}   
.rightright {   
  float: rightright;   
  margin-left: 10px;   
  width: 100px;   
}   
.main {   
  overflow: hidden;   
}  

.shell { width: 980px; margin: 0 auto;}

.title { width: 980px; margin: 0 auto;}



#header { position: relative; height: 106px; margin-bottom: 26px; z-index: 5;  }

h1#logo { float: left; display: inline; width: 270px; height: 51px; margin: 45px 0 0 0; }
h1#logo a { display: block; height: 51px;}

#navigation { position: relative; float: right; display: inline; margin-top: 32px; z-index: 5; }
#navigation ul { list-style: none outside none; }
#navigation ul li { position: relative; float: left; display: inline;}
#navigation ul li a { width: 140px; height: 44px; display: block; color: #f2f2f2; font-size: 15px; text-align: center; line-height: 43px; padding-right: 2px; }
#navigation ul li a:hover,
#navigation ul li a.active,
#navigation ul li a.hover { background: url(images/nav-hover.gif) no-repeat 0 0; text-decoration: none; z-index: 1; }



#main { }
#main h2 { font-size: 20px; font-weight: normal; color: #4c4c4c; }






#content { float: right; display: inline; width: 600px; padding-top: 17px; margin-right: 10px;}


#footer { height: 87px; position:absolute; background: url(images/footer-bg.gif) repeat-x 0 0; font-size: 11px; color: #7f7f7f; }
#footer .shell { padding: 26px 0 0 0; }
#footer a { color: #7f7f7f; }
#footer p.left span { padding: 0 3px; }

body{line-height:1.5em}.woocommerce 


#main-header,.et_boxed_layout 
#page-container .container,.et_boxed_layout 
#page-container .et_pb_row{max-width:1000px}a{color:#0d4481}
#page-container {
   min-height:100%;
   position:relative;
}
#main-header,
#main-header .et_mobile_menu{background-color:#ffcc00}}h1,h2,h3,h4,h5,h6{font-family: Georgia, Times, 'Times New Roman', serif;}body,input,textarea,select{font-family: Georgia, Times, 'Times New Roman', serif;}.et_pb_fullwidth_section .et_pb_slide_description{padding-top:32%;padding-bottom:32%}table.faculty img{max-width:100px!important;height:auto!important;padding-right:10px!important;border:0px!important}
#main-header:not(.et-fixed-header) .logo_container,.et_header_style_centered.et_hide_fixed_logo #main-header.et-fixed-header .logo_container{height:14.94px}.et-fixed-header

#top-header,
#et-secondary-nav li ul{background-color:#ffe800}.et_header_style_centered .mobile_nav .select_page,.et_header_style_split .mobile_nav .select_page,.et_nav_text_color_light #top-menu>li>a,.et_nav_text_color_dark 
#top-menu>li>a,
#top-menu a,.et_mobile_menu li a,.et_nav_text_color_light .et_mobile_menu li a,.et_nav_text_color_dark .et_mobile_menu li a,


#main-footer{ bottom:0;background-color:#ffcc00}
#main-footer .footer-widget h4{color:#ffe800}.footer-widget li:before{border-color:#ffe800}.bottom-nav,.bottom-nav a,.bottom-nav li.current-menu-item a{color:}

#footer-info,
#footer-info a{color:#ffffff}
#footer-info{font-size:13px}







